body,
html {
    padding: 0;
    margin: 0;
}
body,
html,
div,
section,
main,
nav {
    box-sizing: border-box;
}

.router-outlet-container {
    box-sizing: border-box;

    & > .router-page {
        box-sizing: border-box;
        max-width: 100%;
        min-height: 100%;
        overflow: auto;

        .router-page__content {
            display: flex;
            flex-direction: column;
            width: 100%;
            clear: both;
        }
        &:not(:first-child) {
            display: none;
        }
    }
}

$min-width: 400px;
$duration: 0.25s;

@media only screen and (min-width: 600px) {
    .router-outlet-container {
        display: flex;
        // flex-direction: row-reverse;
        width: 100%;
        overflow: auto;

        & > .router-page {
            display: flex;
            flex-direction: column;
            padding: 10px 5px;
            height: 100%;
            // transition: flex 2s ease-in-out;
            transition: min-width $duration ease-in-out;
            transition: opacity $duration ease-in-out;

            &:not(:first-child) {
                display: flex;
                transition: flex $duration ease-in-out;

                animation-name: flex-page-reverse;
                animation-duration: $duration;

                // animation-name: flex-page;
                // animation-duration: $duration;
                // animation-direction: reverse;
            }

            &:first-child {
                display: flex;
                flex: 1;
                min-width: auto;

                &:last-child {
                    animation-duration: 0s;
                }

                animation-name: flex-page;
                animation-play-state: unset;
                animation-duration: $duration;
                color: red;
            }
        }
    }
}

@keyframes flex-page {
    from {
        flex: 1%;
        overflow: hidden;
        color: red;
        padding-right: 0;
    }
    to {
        flex: 100%;
        color: red;
        overflow: initial;
        padding-right: 5px;
    }
}

@keyframes flex-page-reverse {
    from {
        color: blue;
        flex: auto;
    }
    to {
        color: green;
    }
}
