body,
html {
    padding: 0;
    margin: 0;
}
body,
html,
div,
section,
main,
nav {
    box-sizing: border-box;
}

.router-outlet-container {
    box-sizing: border-box;

    & > .router-page {
        box-sizing: border-box;

        .router-page__content {
            display: flex;
            flex-direction: column;
            width: 100%;
            clear: both;
        }
        &:not(:first-child) {
            display: none;
        }
    }
}

$min-width: 400px;
$duration: 0.2s;

@media only screen and (min-width: 600px) {
    .router-outlet-container {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        overflow: auto;

        &::before {
            content: "";
            flex: auto;
            background-color: #eee;
        }

        & > .router-page {
            display: flex;
            flex-direction: column;
            padding: 10px 5px;
            height: 100%;
            // transition: flex 2s ease-in-out;
            transition: min-width $duration ease-in-out;
            transition: opacity $duration ease-in-out;

            &:not(:first-child) {
                display: flex;
                transition: flex $duration ease-in-out;

                animation-name: flex-page-reverse;
                animation-duration: $duration;

                // animation-name: flex-page;
                // animation-duration: $duration;
                // animation-direction: reverse;

                min-width: $min-width;
            }

            &:last-child {
                padding-left: 10px;
            }

            &:first-child {
                display: flex;
                padding-right: 10px;
                flex: auto;
                min-width: 50%;

                // &:not(.router-page--loading) {
                //     color: red;
                //     animation-name: flex-page-reverse;
                //     animation-duration: $duration;
                // }

                &:last-child {
                    animation-duration: 0s;
                }
            }

            &--loading {
                animation-name: flex-page;
                animation-duration: $duration;

                // flex: 0.1;
                // &:last-child {
                //     flex: 1;
                //     transition: none;
                // }
            }
        }
    }
}

@keyframes flex-page {
    from {
        flex: 0;
        min-width: 0%;
        width: auto;
    }
    to {
        flex: 1;
        min-width: 50%;
        width: 50%;
    }
}

@keyframes flex-page-reverse {
    from {
        min-width: 50%;
        color: blue;
    }
    to {
        min-width: $min-width;
        color: green;
    }
}
