body,
html {
    padding: 0;
    margin: 0;
}
body,
html,
div,
section,
main,
nav {
    box-sizing: border-box;
}

.router-outlet-container {
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;

    & > * {
        box-sizing: border-box;

        .router-page__content {
            display: flex;
            flex-direction: column;
            width: 100%;
            clear: both;
        }
        &:first-child {
            flex: 1;
        }
        &:not(:first-child) {
            display: none;
        }
    }
}

@media only screen and (min-width: 600px) {
    .router-outlet-container {
        width: 100%;
        overflow: auto;

        & > .router-page {
            display: flex;
            flex-direction: column;
            padding: 10px 5px;
            height: 100%;
            transition: flex 0.5s ease-in-out;
            transition: opacity 2s ease-in-out;

            &:not(:first-child) {
                display: flex;
                min-width: 300px;
                flex: 0.1;
                transition: flex 0.2s ease-in-out;
            }

            &:last-child {
                padding-left: 10px;
            }

            &:first-child {
                flex: 1;
                display: flex;
                padding-right: 10px;
                min-width: 500px;
            }

            &--loading:first-child {
                flex: 0.1;
                min-width: 1px;

                &:last-child {
                    flex: 1;
                    transition: none;
                }
            }
        }
    }
}
