body,
html {
    padding: 0;
    margin: 0;
}
body,
html,
div,
section,
main,
nav {
    box-sizing: border-box;
}

.router-outlet-container {
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;

    & > * {
        box-sizing: border-box;

        .router-page__content {
            display: flex;
            flex-direction: column;
            width: 100%;
            clear: both;
        }
        &:first-child {
            flex: 1;
        }
        &:not(:first-child) {
            display: none;
        }
    }
}

@media only screen and (min-width: 500px) {
    .router-outlet-container {
        width: 100%;
        overflow: auto;

        & > .router-page {
            display: flex;
            flex-direction: column;
            padding: 10px 5px;
            height: 100%;
            transition: flex 0.1s ease-in-out;
            transition: opacity 2s ease-in-out;

            & > * {
                flex: 1;
                height: 100%;
                overflow: auto;

                > header {
                    line-height: 30px;
                    display: inline-flex;
                    padding: 0 10px;
                    font-weight: bold;
                    color: gray;
                }

                > main {
                    flex: 1;
                    height: 100%;
                    overflow: auto;
                    padding: 10px;

                    &::-webkit-scrollbar-track {
                        border-radius: 3px;
                        background-color: inherit;
                    }
                    &::-webkit-scrollbar {
                        width: 6px;
                        background-color: #f5f5f5;
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 3px;
                        -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
                        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
                        background-color: #cce;
                    }
                }

                box-shadow: 0px 0px 8px #888888;
                margin-right: 10px;
            }

            &:not(:first-child) {
                display: flex;
                min-width: 300px;
                flex: 0.1;
                transition: flex 0.2s ease-in-out;
                opacity: 0.8;
            }

            &:last-child {
                padding-left: 10px;
            }
            &:first-child {
                flex: 1;
                display: flex;
                padding-right: 10px;
                min-width: 500px;

                &:last-child {
                    transition: none;
                }
            }

            &--loading:first-child {
                flex: 0.1;
            }
        }
    }
}
